<div class="background">
    <div class="center-container">
        <div class="card-container">
            <div class="transition-card smaller">
                <div class="wrapper-image">
                    <img [src]="preimageUrl" alt="Uploaded image"/>
                </div>
            </div>
            <div class="transition-card smaller">
                <div class="wrapper-image">
                    <img *ngIf="receivedImage" src="http://localhost:8000/image">
                </div>
            </div>
        </div>
        <button class="green-button process"(click)="onProcess()">Process Image</button>
    </div>
</div>