.card-container { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
}
.process-card {
    background: #D9E1E0;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 300px;
    height: 400px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.wrapper-image {
    max-width: 500px; 
    max-height: 500px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.classification {
    color: black;
    font-size: 20px;
}