.upload-card {
    background: #D9E1E0;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 500px;
    height: 200px;
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card img {
    max-width: 120%;
    max-height: 120%;
    display: block;
}

.confirm-image {
    display: flex;
    justify-content: center;
}

.drop-label {}

@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%
    }
    100%{
        background-position: 0 50%
    }
}