.card {
    /* background: rgba(250, 235, 215, 0.527); */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 600px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: linear-gradient(75deg, #ffffff, #388150);
    background-size: 300% 300%;
    animation: color 15s ease-in-out infinite;
}

.card img {
    max-width: 120%;
    max-height: 120%;
    display: block;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container > div {
    margin: 0 80px;
  }

.columns{
    display: flex;
    flex-direction: rows;
}