<!-- <div class="container">
    <div class="card">
        <ngx-file-drop 
            *ngIf="showDrop"
            dropZoneClassName="drop-zone"
            contentClassName="drop-zone-content"
            browseBtnClassName="custom-button"
            dropZoneLabel="Drop files here OR " 
            (onFileDrop)="dropped($event)" 
            (onFileOver)="fileOver($event)" 
            (onFileLeave)="fileLeave($event)"
            [showBrowseBtn]="true">
        </ngx-file-drop>
    </div>

    <ng-container class="confirm-image" *ngIf="showImage">
        <button class="custom-button" (click)="onCancel()">Cancel</button>
        <button class="custom-button" (click)="onSubmit()">Submit</button>
    </ng-container>
</div> -->

<div class="background">
    <div class="center-container">
        <div class="transition-card">
            <ngx-file-drop 
                *ngIf="showDrop"
                dropZoneClassName="drop-zone"
                contentClassName="drop-zone-content"
                browseBtnClassName="browse-button"
                [dropZoneLabel]="'Drop files here\nor'" 
                (onFileDrop)="dropped($event)" 
                (onFileOver)="fileOver($event)" 
                (onFileLeave)="fileLeave($event)"
                [showBrowseBtn]="true">
            </ngx-file-drop>
            <div class="wrapper-image">
                <img *ngIf="showImage" [src]="imageUrl" alt="Uploaded image">
            </div>
        </div>
        
        <ng-container *ngIf="showImage">
            <div class="confirm-image">
                <button class="green-button" (click)="onCancel()">Cancel</button>
                <button class="green-button" (click)="onSubmit()">Submit</button>
            </div>
        </ng-container>
    </div>
</div>