<div class="container">
    <h1 class="title">About us</h1>
    <div class="card">
        <div class="description">
            AngelEyeAI is built upon the idea that machine learning can be applied to help provide solutions for healthcare solutions.
            AngelEyeAI helps medical school students by providing image classification for Covid-19 and Pneumonia x-ray scans.
            It also provides an image based search page for Covid-19 and Pneumonia that produces image classification, images related to
            the classification, resourceful urls, and a quick summary made to create learning efficient. We also strive to apply this technology in 
            education, research, ad at-home care with our upload and image search functionality. 
        </div>
    </div>

    <a class="link" target="_self" routerLink="/">Home</a>
</div>