<div class="background">
    <div class="container">
      <div class="center-container">

        <div class="logo-title">Angel<b style="color:#24C059; text-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.219)">Eye</b> AI</div>
        <div class="description">
          Empower your diagnosis with our <b style="color:#24C059; text-shadow: 0px 1px 1.5px rgba(0, 0, 0, 0.219)">AI-powered health scan analysis</b>. 
          Our model utilizes heat maps to pinpoint several potential health concerns, 
          providing you with accurate and reliable results
        </div>
        <div class="get-started">
            <button class="green-button" (click)="onStart()">Get Started</button>
        </div>

        <div class="nav-bar">
          <a target="_self" routerLink="/about">About Us</a>
          <a target="_self" routerLink="/search">Search Engine</a>
          <a target="_self" routerLink="/quiz">Quiz Yourself</a>
        </div>
      </div>
      
    </div>
    
  </div>